@mixin screenMeetingReservation {
    &__meeting-reservation {
        grid-area: meeting-reservation;
        background-color: rgba(5, 5, 5, 0.35);
        border-radius: 16px;
        padding: 1.5rem;
        overflow: hidden;
        position: relative;
        font-size: 13px;
        line-height: 22px;
        color: #888;

        .meeting-reservation__title {
            color: #AAA;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
    }
}