@import '../../templates/ListPageTheme/listPageTheme';

.main-meetings-page {
    @include listPageTheme(".main-meetings-page");

    &--content-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}